@use "../abstracts";

.about {
    width: 100%;
    min-height: 100%;
    position: relative;
    transform-style: preserve-3d;

    padding-top: 116px;

    background-image: url("../../assets/img/Overlay.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include abstracts.screen(lg) {
        padding-top: 70px;
    }
}

.about-content {
    padding-bottom: 68px;

    &__top {
        display: flex;
        align-items: center;
        gap: 34px;

        @include abstracts.screen(lg) {
            flex-direction: column;
        }
    }

    &__wrap {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 46%;
        left: 32%;
        translate: -50% -50%;

        color: var(--color-white-90);
        font-family: "Subjectivity";
        font-size: 4.2rem;
        opacity: 0.6;
    }

    &__img {
        width: 314px;
        height: 175px;
        object-fit: cover;
    }

    &__desc {
        margin-top: 16px;
    }

    &__btn {
        position: relative;
        left: 50%;
        translate: -50%;
        margin-top: 34px;
    }
}
