.btn {
    position: relative;
    left: 50%;
    translate: -50%;
    margin-top: 35px;
    width: 180px;
    height: 60px;
    border: 1px solid #ccc;
    transition: 0.25s ease;

    &:hover {
        transition: 1s ease-in-out;
        background: var(--color-white-solid);
    }
}

.btn-icon {
    position: absolute;
    left: -1px;
    top: -1px;
    fill: none;
    stroke: #000;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover .btn-icon {
    stroke-dashoffset: -480;
}

.btn-span {
    color: var(--color-white-solid);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn:hover .btn-span {
    color: #000;
}

.btn-border {
    display: inline-block;
    padding: 13px 26px;
    border-radius: 99px;
    background: var(--color-white-solid);

    color: var(--color-grey-11);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        opacity: 0.8;
    }
}
