@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.form {
    margin-top: 38px;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            gap: 25px;
        }
    }

    &__container + &__container {
        margin-top: 22px;

        @include abstracts.screen(lg) {
            margin-top: 12px;
        }
    }

    &__wrap {
        display: flex;
        align-items: end;
        gap: 10px;

        @include abstracts.screen(lg) {
            flex-direction: column;
        }
    }

    &__qr {
        width: 38%;
        object-fit: cover;
    }

    &__text {
        line-height: 1.61;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__input {
        width: 100%;
        padding: 15px;
        border: 1px solid var(--color-black-solid);
    }
}
