@use "../abstracts";

.rec {
    width: 100%;
    min-height: 100%;
    position: relative;
    transform-style: preserve-3d;

    background-image: url("../../assets/img/Overlay.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 68px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.15);

        @include abstracts.screen(lg) {
            flex-direction: column-reverse;
        }
    }

    &__img {
        width: 50%;
        height: 254px;
        object-fit: cover;
        flex-shrink: 0;

        @include abstracts.screen(lg) {
            width: 100%;
        }
    }
}

.rec-content {
    text-align: center;

    &__desc {
        margin-top: 33px;
    }

    &__btn {
        margin-top: 32px;
    }
}
